body{
    background-color: bisque;
}

h1{
    font-family: fantasy
}
.button1{                 /* some of this css has been obtained from 'https://www.w3schools.com/css/css3_buttons.asp'*/
    display: inline-block;
    background-color: royalblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: fantasy;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    transition: .5s ease;
    left: 625px;
    top: 198px;
}

.button1:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.time_group .button{
    background-color: greenyellow;
    border: 1px solid green;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: table-row;
}